.form-group {
    display: flex;
    margin-bottom: 20px;
    font-size: 20px;
}

.form-control {
    padding: 8px 0;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid blue;
}

.card-footer {
    font-size: 13px;

    span {
        color: rgb(15, 132, 172);

        &:hover {
            cursor: pointer;
            color: rgb(156, 156, 156);
            text-decoration: underline;
        }
    }


}

.btn {
    padding: 5px 30px;
    background-color: rgb(0, 103, 184);
    border: none;
    color: white;
    font-size: 15px;
    margin-top: 25px;

    &:hover {
        cursor: pointer;
    }

}