.register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(-45deg, rgb(250, 224, 224), rgb(196, 196, 196), rgb(250, 224, 224));


    .card {
        position: relative;
        background-color: white;
        width: 450px;
        height: 350px;
        padding: 20px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.308);
        border-radius: 5px;

        .loading {
            position: absolute;
            width: 20%;
            height: 1px;
            background-color: rgb(70, 70, 253);
            margin-top: -20px;
            box-shadow: 1px 1px 8px blue;
            left: 0;
            animation-name: isLoading;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }

        .card-title {
            padding: 20px;
        }

        .card-body {
            position: relative;

            // display: flex;
            .card-body-username {
                // flex: 1;
                padding: 0 20px 20px 20px;
                opacity: 1;
                transition: all .5s;

                .form-group {
                    display: flex;
                    margin-bottom: 20px;
                    font-size: 20px;

                    .dropdown {
                        position: relative;
                        margin-left: 10px;
                        // background-color: red;
                        font-size: 15px;
                        display: inline-block;
                        border-bottom: 1px solid black;
                        cursor: pointer;

                        label {
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            height: 100%;
                        }


                        .dropdown-content {
                            display: none;
                            position: absolute;
                            top: 35px;
                            font-size: 15px;
                            border: 1px solid black;

                            .content-item {
                                padding: 2px;

                                &:hover {
                                    background-color: rgb(66, 148, 66);
                                }
                            }

                        }

                        #tail-dot {
                            display: none;
                        }

                        #tail-dot:checked~.dropdown-content {
                            display: block;
                        }
                    }




                }

                .btn-container-for-register {
                    margin-top: 48px;
                }

                .btn-container {
                    width: 100%;
                    display: flex;
                    justify-content: right;

                    .btn {
                        padding: 5px 30px;
                        background-color: rgb(0, 103, 184);
                        border: none;
                        color: white;
                        font-size: 15px;
                        margin-top: 25px;

                        &:hover {
                            cursor: pointer;
                        }

                    }
                }

            }

            .card-body-password {
                transition: all 0.25s;
                position: absolute;
                top: -150px;
                padding: 0 20px 20px 20px;
                // width: 0;
                // opacity: 0;
                left: 395px;
                right: -395px;
                opacity: 0;
                width: 20%;
                transform: scale(0.7);

                .arrow-current-user {
                    display: flex;
                    align-items: center;

                    .arrow {
                        border-radius: 50%;
                        padding: 5px;
                        font-weight: 100;
                        font-size: 20px;
                        ;

                        &:hover {
                            background-color: rgb(218, 218, 218);
                            cursor: pointer;
                        }
                    }

                    .current-user {
                        margin-left: 5px;
                        font-size: 16px;
                    }
                }


                .btn-container {
                    display: flex;
                    justify-content: right;
                    width: 100%;

                    .btn {
                        padding: 0;
                        font-size: 2px;
                    }
                }



            }

            #dot {
                display: none;
            }

            #dot:checked~.card-body-username {

                // position: absolute;

                margin-left: -50px;
                margin-right: 50px;
                opacity: 0;
                // animation: mymove 5s 1;
            }

            #dot:checked~.card-body-password {
                opacity: 1;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                transform: scale(1);

                .btn {
                    padding: 5px 30px;
                    font-size: 15px;
                }
            }


        }

        @keyframes isLoading {
            from {
                left: 0
            }

            to {
                left: 80%
            }
        }
    }

    .card-lg {
        height: 540px;
        // background-color: green;
    }
}